* {
	font-size: 100%;
}

h1 {
    font-size: 200%;
}

body {
    background-color: #333333;
}

.wordwrap {
	word-wrap: normal;
	white-space: pre-line;      /* CSS3 */
}

pre {
	white-space: pre-line;
    margin: 0px;
}

.nowrap {
	white-space: pre;
}

#manager {
    text-align: center;
    color: #FFFFFF;
}

#manager div {
    width: 400px;
    padding: 10px;
}

#manager a {
    border: 1px solid transparent;
    width: 400px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #CCCCCC;
    display: block;
    padding: 10px;
}

#manager a:hover {
    border: 1px solid #CCCC66;
    color: #CCCC66;
}

/* Set font */
#manager *, #menu * {
    font-family: Tahoma,Verdana,Helvetica,Arial,sans-serif;
}

#stead {
    width: 800px;
}

#stead, #win, #inventory, #cog, #menu_button {
	position: absolute;
}

#win, #inventory {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

#title, #picture, #ways-top {
	text-align: center;
    margin-bottom: 5px;
}

#ways-bottom {
	text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.compositeImage {
    position:relative;
    display:inline-block;
    overflow: hidden;
}

#stead a {
    text-decoration: none;
    cursor: inherit;
}

#text {
	text-align: justify;
}

#menu {
	position: absolute;
	z-index: 9000;
    width: 200px;
	top: 200px;
	left: 300px;
    padding: 10px;
    border-style: solid;
	display: none;
    text-align: center;
}

#menu a {
	height: 24px;
	text-decoration: none;
	width: 100%;
    padding: 1px;
	display: block;
}

.slot-selector {
    height: 24px;
    text-align: left;
    font-size: 0.8em;
}

#menu-saveload {
    display: none;
}

c {
    text-align: center;
    display: inline-block;
    width: 99%;
}

r {
    text-align: right;
    display: inline-block;
    width: 99%;
}

l {
    text-align: left;
    display: inline-block;
    width: 99%;
}

#log-window {
    position: absolute;
    top: 620px;
    color: #CCCCCC;
    font-family: Consolas;
    font-size: 12px;
    display: none;
}

#show-log {
    cursor: pointer;
}

#log {
    width: 800px;
    height: 300px;
    border: 1px solid #999999;
    padding: 10px;
    overflow: auto;
    display: none;
}
