* {
	font-size: 100%;
}

body {
    background-color: #333333;
}

.wordwrap {
	word-wrap: normal;
	white-space: pre-line;      /* CSS3 */
}

pre {
	white-space: pre-line;
    margin: 0px;
}

.nowrap {
	white-space: pre;
}

/* Set font */
#stead *, #menu * {
    font-family: Tahoma,Verdana,Helvetica,Arial,sans-serif;
}

#stead {
    width: 800px;
}

#stead, #win, #inventory, #cog, #menu_button {
	position: absolute;
}

#win, #inventory {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

#title, #picture, #ways {
	text-align: center;
    margin-bottom: 5px;
}

#stead a {
    text-decoration: none;
    cursor: inherit;
}

#text {
	text-align: justify;
}

#menu {
	position: absolute;
	z-index: 9000;
    width: 200px;
	top: 200px;
	left: 300px;
    padding: 10px;
    border-style: solid;
	display: none;
}


#menu a {
	height: 24px;
	text-align: center;
	text-decoration: none;
	width: 100%;
    padding: 1px;
	display: block;
}

c {
    text-align: center;
    display: inline-block;
    width: 99%;
}

r {
    text-align: right;
    display: inline-block;
    width: 99%;
}

l {
    text-align: left;
    display: inline-block;
    width: 99%;
}

#log {
    position: absolute;
    top: 620px;
    width: 800px;
    height: 300px;
    padding: 10px;
    border: 1px solid #999999;
    color: #CCCCCC;
    font-family: Consolas;
    font-size: 12px;
    white-space: pre;
    overflow:auto;
}
