* {
	font-size: 100%;
}

h1 {
    font-size: 200%;
}

body {
    background-color: #111111;
}

.wordwrap {
	word-wrap: normal;
	white-space: pre-line;      /* CSS3 */
}

pre {
	white-space: pre-line;
    margin: 0px;
}

.nowrap {
	white-space: pre;
}

#manager {
    text-align: center;
    color: #FFFFFF;
    width: 760px;
    margin: 0 auto;
    padding: 20px;
}

#manager div {
    width: 400px;
    padding: 10px;
}

#manager a {
    border: 1px solid transparent;
    width: 400px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #CCCCCC;
    display: block;
    padding: 10px;
}

#manager a:hover {
    border: 1px solid #CCCC66;
    color: #CCCC66;
}

/* Set font */
#manager *, #menu *, #stead-toolbar * {
    font-family: Tahoma,Verdana,Helvetica,Arial,sans-serif;
}

#stead-container {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#stead-toolbar {
    margin-top: 10px;
    padding: 3px;
    background-color: #333333;
    border: 1px solid #333333;
    display: none;
}

#stead-toolbar-info {
    margin-left: 5px;
    display: inline-block;
    color: #CCCCCC;
}

#stead-toolbar-buttons {
    display: inline-block;
    float: right;
}

#stead-toolbar-buttons button {
    border: none;
    background-color: transparent;
    position: relative;
    color: #CCCCCC;
    cursor: pointer;
}

#stead-toolbar-buttons button:focus {
    outline:0;
}

#stead {
    width: 800px;
    position: relative;
}

#win, #inventory, #menu_button {
	position: absolute;
}

#win, #inventory {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

#title, #picture, #ways-top {
	text-align: center;
    margin-bottom: 5px;
}

#ways-bottom {
	text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.compositeImage {
    position:relative;
    display:inline-block;
    overflow: hidden;
}

#stead a {
    text-decoration: none;
    cursor: inherit;
}

#text {
	text-align: justify;
}

#menu {
	position: absolute;
	z-index: 9000;
    width: 200px;
	top: 200px;
	left: 300px;
    padding: 10px;
    border-style: solid;
	display: none;
    text-align: center;
}

#menu a {
	height: 24px;
	text-decoration: none;
	width: 100%;
    padding: 1px;
	display: block;
}

.slot-selector {
    height: 24px;
    text-align: left;
    font-size: 0.8em;
}

#menu-saveload {
    display: none;
}

c {
    text-align: center;
    display: inline-block;
    width: 99%;
}

r {
    text-align: right;
    display: inline-block;
    width: 99%;
}

l {
    text-align: left;
    display: inline-block;
    width: 99%;
}

#log {
    z-index: 9000;
    position: absolute;
    left: 0px;
    top: 25px;
    width: 780px;
    height: 590px;
    opacity: 0.98;
    background-color: #CCCCCC;
    color: #333333;
    font-family: Consolas;
    font-size: 12px;
    border: 1px solid #999999;
    padding: 10px;
    overflow: auto;
    display: none;
}

#log .event {
    color: #006666;
}

#log .command {
    color: #333399;
}

#log .block {
    display:inline-block;
    width: 50px;
    font-weight: bold;
    border-right: 3px solid #C0C0C0;
}
