h1 {
    font-size: 200%;
}

body {
    background-color: #111111;
}

pre {
    white-space: pre-line;
    margin: 0px;
}

.nowrap {
    white-space: pre;
}

#manager {
    text-align: center;
    color: #FFFFFF;
    width: 760px;
    margin: 0 auto;
    padding: 20px;
}

#manager a {
    border: 1px solid transparent;
    width: 400px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #CCCCCC;
    display: block;
    padding: 10px;
}

#manager a:hover {
    border: 1px solid #CCCC66;
    color: #CCCC66;
}

/* Set font */
#manager *, #instead--menu *, #stead-toolbar * {
    font-family: Tahoma,Verdana,Helvetica,Arial,sans-serif;
}

#instead--menu *, #stead-toolbar *, #stead * {
    /* disallow text selection */
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#stead-container {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#stead-container * {
    font-size: 100%;
}

#stead-toolbar {
    margin-top: 10px;
    padding: 3px;
    background-color: #333333;
    border: 1px solid #333333;
    display: none;
}

#stead-toolbar-info {
    margin-left: 5px;
    display: inline-block;
    color: #CCCCCC;
}

#stead-toolbar-buttons {
    display: inline-block;
    float: right;
}

#stead-toolbar-buttons button {
    border: none;
    background-color: transparent;
    position: relative;
    color: #CCCCCC;
    cursor: pointer;
}

#stead-toolbar-buttons button:focus {
    outline:0;
}

#stead {
    width: 800px;
    position: relative;
}

#win, #inventory, #menu_button {
    position: absolute;
}

#win, #inventory {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1000;  /* always above the picture layer */
}

#title, #picture, #ways-top {
    text-align: center;
    margin-bottom: 5px;
}

#ways-bottom {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.compositeImage {
    position:relative;
    display:inline-block;
    overflow: hidden;
}

#stead a {
    text-decoration: none;
    cursor: inherit;
}

#instead--text {
    text-align: justify;
    word-wrap: normal;
    white-space: pre-line;      /* CSS3 */
}

#instead--menu {
    position: absolute;
    z-index: 9000;
    width: 250px;
    top: 150px;
    left: 275px;
    padding: 10px;
    border-style: solid;
    display: none;
    text-align: center;
}

#instead--menu a {
    height: 24px;
    text-decoration: none;
    width: 100%;
    padding: 1px;
    display: block;
}

#instead--menu h3 {
    margin-top: 5px;
}

.slot-selector {
    height: 24px;
    text-align: left;
    font-size: 0.8em;
}

#instead--menu-saveload {
    display: none;
}

c {
    text-align: center;
    display: inline-block;
    width: 99%;
}

r {
    text-align: right;
    display: inline-block;
    width: 99%;
}

l {
    text-align: left;
    display: inline-block;
    width: 99%;
}

#instead--log {
    z-index: 9000;
    position: absolute;
    left: 0px;
    top: 25px;
    width: 780px;
    height: 590px;
    opacity: 0.98;
    background-color: #CCCCCC;
    color: #333333;
    font-family: Consolas;
    font-size: 12px;
    border: 1px solid #999999;
    padding: 10px;
    overflow: auto;
    display: none;
}

#instead--log .event {
    color: #006666;
}

#instead--log .command {
    color: #333399;
}

#instead--log .error {
    color: #993333;
    font-weight: bold;
}


#instead--log .block {
    display:inline-block;
    width: 50px;
    font-weight: bold;
    border-right: 3px solid #C0C0C0;
}

#instead--game-details pre {
    margin-top: 5px;
    font-size: 0.8em;
}

#zip-game {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#zip-game + label {
    margin: 15px;
    padding: 10px;
    color: #CCCCCC;
    background-color: #00394d;
    display: inline-block;
    cursor: pointer;
}
